---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/Hero.astro';
import Features from '../../components/Features.astro';
import Modules from '../../components/Modules.astro';
import Pricing from '../../components/Pricing.astro';
import Contact from '../../components/Contact.astro';
import { languages, defaultLang } from '../../i18n/ui';

export function getStaticPaths() {
  return Object.keys(languages)
    .filter(lang => lang !== defaultLang)
    .map((lang) => {
      return { params: { lang } };
    });
}

const { lang } = Astro.params;
---

<Layout title="RestroLogic - Restaurant SaaS">
	<main>
		<Hero />
        <Features />
        <Modules />
        <Pricing />
        <Contact />
	</main>
</Layout>
